################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserTest/.vs/UserTest/v15
/UserTest/UserTest/bin
/UserTest/UserTest/obj
/UserTest/UserTest/UserTest.csproj.user